name: Build_RTL8733BS_Special
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential bc curl gcc-aarch64-linux-gnu

      # 关键修改：从 OpenIPC 相关仓库克隆驱动源码
      - name: Clone Driver Source
        run: |
          # 如果这个项目是 https://github.com/OpenIPC/rtl8733bs
          git clone --depth 1 https://github.com/libc0607/rtl8733bs-20250521.git .

      - name: Setup Headers
        run: |
          URL="https://github.com/ophub/amlogic-s9xxx-armbian/releases/download/Armbian_rk35xx_v2026.01/linux-headers-6.1.141-rk35xx-ophub_2026.01_arm64.deb"
          curl -L $URL -o headers.deb
          sudo dpkg -i headers.deb

      - name: Build
        run: |
          # 编译命令（注意：如果源码目录里有 Makefile，直接运行）
          make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- -C /lib/modules/6.1.141-rk35xx-ophub/build M=$(pwd) modules

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: rtl8733bs-special-driver
          path: "*.ko" # 匹配所有生成的内核模块
