name: Build_RTL8733BS
on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4 # 升级到 v4
        with:
          repository: lwfinger/rtw8852bs
          ref: main

      - name: Install Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential bc curl gcc-aarch64-linux-gnu

      - name: Setup Headers
        run: |
          URL="https://github.com/ophub/amlogic-s9xxx-armbian/releases/download/Armbian_rk35xx_v2026.01/linux-headers-6.1.141-rk35xx-ophub_2026.01_arm64.deb"
          curl -L $URL -o headers.deb
          sudo dpkg -i headers.deb

      - name: Build
        run: |
          # 使用交叉编译器编译 arm64 驱动
          make ARCH=arm64 CROSS_COMPILE=aarch64-linux-gnu- -C /lib/modules/6.1.141-rk35xx-ophub/build M=$(pwd) modules

      - name: Upload
        uses: actions/upload-artifact@v4 # 升级到 v4
        with:
          name: wifi-driver-rtw8733
          path: 8852bs.ko
